{% extends "page.html" %}

{%- set language = page.language | default(config.language) -%}

{% block content %}

  {# Create a list of papers from the pubs folder #}
  {% set nonpubs = [] %}
  {% set pubs = [] %}
  {% for id, page in site.items() %}
    {% if page.parent == "pubs" %}
      {% if page.status == "published" %}
        {% do pubs.append(page) %}
      {% else %}
        {% do nonpubs.append(page) %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {{ page.body | safe }}

    <br>

    <h2 id="publications">Upcoming work</h2>

    <div class="flex-container">
    <div id="publications-text">

    This section contains work that is as yet unpublished (i.e. in prep., in review, or in press).

    </div>
    </div>

    <ul class="pubs">
      {% for page in nonpubs|sort(attribute="status", reverse=True) %}
          <li>
              <span class="tag-span {{ page.status.split()[1].strip('.') }}">{{ page.status }}</span>
            {% for badge in page.tags.split(' ') %}
              <span class="tag-span {{ badge }}">{{ badge }}</span>
            {% endfor %}
              <span class="pub-authors">{{ page.authorlist }}</span>
              <span class="pub-date">({{ page.status }})</span>.
              <span class="pub-title"><a href="/{{ page.path }}">{{ page.title }}</a></span>.
              <span class="pub-journal"><em>{{ page.journal }}</em></span>.
          </li><br>
      {% endfor %}
      </ul>
  

    <h2 id="publications">Published work</h2>

    <div class="flex-container">
    <div id="publications-text">

    Publications are listed in chronological order and are presented in APA citation style.<br>
    Peer-reviewed articles appear with an <span class="tag-span article">article</span> badge.<br><br>

    </div>
    </div>

    <ul class="pubs">
    {% for page in pubs|sort(attribute="year", reverse=True) %}
        <li>
          {% for badge in page.tags.split(' ') %}
            <span class="tag-span {{ badge }}">{{ badge }}</span>
          {% endfor %}
            <span class="pub-authors">{{ page.authorlist }}</span>
            <span class="pub-date">({{ page.year }})</span>.
            <span class="pub-title"><a href="/{{ page.path }}">{{ page.title }}</a></span>.
            <span class="pub-journal"><em>{{ page.journal }}</em></span>.
            <span class="pub-volume">{{ page.volume }}</span>,
            <span class="pub-pages">{{ page.pages }}</span>.
            <span class="doi">doi:<a href="https://dx.doi.org/{{ page.doi }}">{{ page.doi }}</a></span>
        </li><br>
    {% endfor %}
    </ul>

{% endblock %}
