{% extends "page.html" %}

{% block content %}

    <h1>{{ page.title }}</h1>
  {% for badge in page.tags.split(' ') %}
    <span class="tag-span {{ badge }}">{{ badge }}</span>
  {% endfor %}
    <p>{{ page.authorlist }}</p>
    <em>{{ page.journal }}</em> 
  {% if page.status == "published" %}
    <span class="year">({{ page.year }})</span>
  {% else %}
    <span class="status">({{ page.status }})</span>
  {% endif %}
    <p>doi: <a href="https://dx.doi.org/{{ page.doi }}">{{ page.doi | safe }}</a></p>
    <p><a href="{{ page.link }}"><i class="{{ page.linkicon }}" aria-hidden="true"></i> {{ page.linktext }}</a></p>
    <br>

    <div class="flex-container">

    <div id="body">

    {{ page.body | safe }}

    </div>

    <div id="abstract">
    <h2>Abstract</h2>
    
    <p class="abstract">
      {{ page.abstract | safe }}
    </p>
    
    <br><br><br>
    </div>

    <div id="plaintext-abstract">
    <h2>Plain-text abstract</h2>
    
    <p class="abstract">
      {{ page.plaintextabstract | safe }}
    </p>

    </div>

    </div>
{% endblock %}
